* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Commons */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  min-width: 9.8rem;
  background-color: #0f1b4c;
  border-radius: 1.2rem;
  padding: 1.2rem 2.2rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 2);
  overflow: hidden;
  line-clamp: var(--line-clamp, 2);
}
/* End Commons */

/* Header */
.fix-header {
  background-color: #e6f0ff;
  padding-top: 2.6rem;
  position: sticky;
  top: -2.6rem;
  z-index: 9999;
}

.hero-wrap {
  background-color: #e6f0ff;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
}

.navbar ul {
  display: flex;
  margin-left: 5rem;
}

.navbar ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 0.8rem 1.4rem;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .actions .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: #0f1b4c;
  margin-right: 1.8rem;
}

.navbar .actions .action-btn {
  padding: 1.3rem 2.2rem;
}

.hero-wrap .info {
  width: 50.36%;
}

.hero-wrap .sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero-wrap .title {
  font-size: 6.3rem;
  font-weight: bold;
  line-height: 1.19;
  color: #000336;
  margin-top: 0.7rem;
}

.hero-wrap .desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-top: 3rem;
  color: #5a6473;
}

.hero-wrap .btn {
  padding: 1.5rem 3.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.54;
  color: #ffffff;
  margin-top: 4rem;
  min-width: 17rem;
}

.hero-wrap .hero-image {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}
/* End Header */

/* Clients */
.clients {
  margin-top: 12.2rem;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row .stars i {
  color: #ffca56;
  font-size: 2rem;
}

.clients .row .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.clients .row.row-desc {
  margin-top: 2.3rem;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9.6rem;
}

.clients .images a {
  padding: 3.2rem 4.2rem 2.2rem;
  border-radius: 1.2rem;
  transition: all 0.4s ease-in-out;
}

.clients .images a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* End Clients */
/* Guides */
.guides {
  margin-top: 20rem;
}

.guides .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
  position: relative;
}

.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  background-color: #000339;
  border-radius: 1.2rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  text-align: center;
  color: #5a6473;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42%;
}

.guides .guide-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.guides .guide-list .guide-item {
  margin: 0 7rem;
  text-align: center;
}

.guides .guide-list .guide-item .title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 2.6rem;
  color: #3b3c45;
}

.guides .guide-list .guide-item .link {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #0689ff;
  margin-top: 1rem;
}

.guides .guide-list .guide-item .link i {
  margin-left: 0.8em;
}

.guides .guide-cta {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.guides .guide-cta .btn {
  padding: 1.6rem 2.5rem;
  min-width: 17rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}
/* End Guides */
/* Featured */
.featured {
  margin-top: 12rem;
  padding: 11rem 0;
  background-color: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  list-style: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.featured .desc {
  font-size: 1.6rem;
  font-weight: 400;
  list-style: 1.875;
  color: #5a6473;
}

.featured .link {
  display: flex;
  align-items: center;
}

.featured .link span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #0689ff;
}

.featured .link i {
  margin-left: 0.8em;
  color: #0689ff;
  font-size: 1.4rem;
}

.featured .list {
  display: flex;
  gap: 3rem;
  margin-top: 7rem;
}

.featured .list .item {
  flex: 1;
  border-radius: 1.2rem;
  overflow: hidden;
}

.featured .list .item .thumb {
  width: 100%;
  height: 22.7rem;
  object-fit: cover;
}

.featured .list .item .body {
  box-shadow: 0 6.5rem 8rem -4.6rem #e2eef9;
  background-color: #ffffff;
  padding: 1.7rem 2rem 2.4rem 2rem;
}

.featured .list .item .title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #000339;
}

.featured .list .item .desc {
  --line-clamp: 3;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #a3a6ab;
  margin-top: 1.1rem;
  word-break: break-all;
}

.featured .list .item .info {
  margin-top: 2.1rem;
  display: flex;
  align-items: center;
}

.featured .list .item .icon {
  margin-left: 2.3rem;
}

.featured .list .item .icon:first-child {
  margin-left: 0;
}

.featured .list .item .label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 1%;
  text-align: center;
  color: #4d4d52;
  margin-left: 0.8rem;
}
/* End Featured */
/* Stats */
.stats {
  margin-top: 7.5rem;
  padding: 5rem 0;
}

.stats .row {
  display: flex;
}

.stats .img-block {
  position: relative;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block .image {
  width: 400px;
  height: 460px;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.stats .info {
  padding-left: 16.5rem;
  padding-top: 7.9rem;
}

.stats .sub-title {
  width: 26.9rem;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.28;
  color: #000339;
  position: relative;
}

.stats .sub-title::before {
  content: "";
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  background-color: #000339;
  border-radius: 1.2rem;
  position: absolute;
  top: -1rem;
  left: 0;
}

.stats .info .desc {
  margin-top: 2rem;
  width: 30.9rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  letter-spacing: 0%;
  color: #5a6473;
}

.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 3.5rem;
  width: 23.9rem;
  padding: 4.5rem 2.3rem;
  background-color: #ffffff;
  box-shadow: 9rem 8.5rem 10rem 0 #0000000f;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.stats .stats-trend .row {
  display: flex;
  justify-content: space-between;
}

.stats .value {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 1%;
}

.stats .value span {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1;
}

.stats .stats-trend .desc {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #a7a7a7;
  margin-top: 0.8rem;
  width: 19.4rem;
}

.stats .stats-trend .seperate {
  margin-top: 2.5rem;
  height: 2px;
  background-color: #e9e9e9;
}

.stats .avatar-block {
  margin-top: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem 1.4rem;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar-group img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -3px;
}

.stats .avatar-group img:first-child {
  margin-left: 0;
}

.stats .qty-row {
  margin-top: 11rem;
  justify-content: space-between;
}

.stats .qty {
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 1;
  letter-spacing: 0%;
  color: #000000;
}

.stats .qty-desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0%;
  margin-top: 2.2rem;
  color: #7b8087;
}
/* End Stats */
/* Subscription */
.subscription {
  margin-top: 9rem;
}

.subscription .body {
  background-color: #063183;
  border-radius: 2rem;
  padding: 11rem 0 11rem 8rem;
  position: relative;
}

.subscription .info {
  width: 67.1rem;
}

.subscription .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 0%;
  color: #ffffff;
}

.subscription .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #ffffff;
  margin-top: 1.5rem;
  opacity: 0.75;
}

.subscription .btn {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 0%;
  color: #002366;
  padding: 1.6rem 4.3rem;
  margin-top: 2rem;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 22.1rem;
}
/* End Subscription */
/* Footer */
.footer {
  margin-top: 5.5rem;
  padding: 5.8rem 0;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .heading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  color: #1c1c1d;
}

.footer .list {
  margin-top: 4.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer .list li a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #7a7a7e;
}

.footer .desc {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #7a7a7e;
  width: 25.7rem;
}

.footer .social {
  margin-top: 4rem;
  display: flex;
  gap: 1.6rem;
}

.footer .social a {
  min-width: 3rem;
  min-height: 3rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .social a i {
  font-size: 2rem;
  color: #646464;
}

.footer .row:last-child {
  align-items: center;
  margin-top: 8.1rem;
}

.footer .row:last-child p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #c2c2c2;
}
/* End Footer */
