* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Commons */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  min-width: 9.8rem;
  background-color: #0f1b4c;
  border-radius: 1.2rem;
  padding: 1.2rem 2.2rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}
/* End Commons */

/* Header */
.header {
  background-color: #e6f0ff;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 3.8rem;
}

.navbar ul {
  display: flex;
  margin-left: 5rem;
}

.navbar ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 0.8rem 1.4rem;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .actions .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: #0f1b4c;
  margin-right: 1.8rem;
}

.navbar .actions .action-btn {
  padding: 1.3rem 2.2rem;
}
/* End Header */
