* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Commons */
.container {
  max-width: 1110px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn {
  min-width: 9.8rem;
  background-color: #0f1b4c;
  border-radius: 1.2rem;
  padding: 1.2rem 2.2rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}
/* End Commons */

/* Header */
.header {
  background-color: #e6f0ff;
  position: relative;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 3.8rem;
}

.navbar ul {
  display: flex;
  margin-left: 5rem;
}

.navbar ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #4f5361;
  padding: 0.8rem 1.4rem;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .actions .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: #0f1b4c;
  margin-right: 1.8rem;
}

.navbar .actions .action-btn {
  padding: 1.3rem 2.2rem;
}

.hero {
  margin-top: 13rem;
}

.hero .info {
  width: 50.36%;
}

.hero .sub-title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  font-size: 6.3rem;
  font-weight: bold;
  line-height: 1.19;
  color: #000336;
  margin-top: 0.7rem;
}

.hero .desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78;
  margin-top: 3rem;
  color: #5a6473;
}

.hero .btn {
  padding: 1.5rem 3.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.54;
  color: #ffffff;
  margin-top: 4rem;
  min-width: 17rem;
}

.hero .hero-image {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}
/* End Header */

/* Clients */
.clients {
  margin-top: 12.2rem;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row .stars i {
  color: #ffca56;
  font-size: 2rem;
}

.clients .row .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.clients .row.row-desc {
  margin-top: 2.3rem;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9.6rem;
}
/* End Clients */
/* Guides */
.guides {
  margin-top: 20rem;
}

.guides .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
  position: relative;
}

.guides .sub-title::before {
  content: "";
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  background-color: #000339;
  border-radius: 1.2rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  text-align: center;
  color: #5a6473;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42%;
}

.guides .guide-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.guides .guide-list .guide-item {
  margin: 0 7rem;
  text-align: center;
}

.guides .guide-list .guide-item .title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 2.6rem;
  color: #3b3c45;
}

.guides .guide-list .guide-item .link {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #0689ff;
  margin-top: 1rem;
}

.guides .guide-list .guide-item .link i {
  margin-left: 0.8em;
}

.guides .guide-cta {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

.guides .guide-cta .btn {
  padding: 1.6rem 2.5rem;
  min-width: 17rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}
/* End Guides */
